## Problem Statement and Data Collection

#### The problem
The important insurance company 4Geeks Insurance S.L. wants to calculate, based on physiological data of its customers what will be the premium (cost) to be borne by each of them. To do this, it has assembled a whole team of doctors and based on data from other companies and a particular study have managed to gather a set of data to train a predictive model.

On this dataset we have the following columns: 

-    age. Age of primary beneficiary (numeric)
-    sex. Gender of the primary beneficiary (categorical)
-    bmi. Body mass index (numeric)
-    children. Number of children/dependents covered by health insurance (numeric)
-    smoker. smoker (categorical)
-    region. Beneficiary's residential area in the U.S.: northeast, southeast, southwest, northwest (categorical)
-    charges. Health insurance premium (numerical)

In [5]:
# 1.2 Data Collection

import pandas as pd

# import dataset
total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/linear-regression-project-tutorial/main/medical_insurance_cost.csv")
total_data.to_csv("../data/raw/insurance_data.csv", index=False)

total_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520