## Feature Engineering

### Feature engineering
#### Missing value analysis.

Let's analyse the dataset for missing values:

In [63]:
import pandas as pd
total_data = pd.read_csv("../data/interim/factorised_eda_results.csv")
total_data.describe()

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.505232,30.663397,1.094918,0.795217,1.484305,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.104885,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,1.000000,1.000000,4740.287150
50%,39.000000,1.000000,30.400000,1.000000,1.000000,1.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,1.000000,2.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,3.000000,63770.428010

We know for a fact that the dataset doesn't have any nulls. From the table above we can now also deduce that the dataset doesn't have any invalid mins or max, so, overall, the data seems to be pretty consistent.

#### Outlier analysis
Now that we have a tidier dataset, we can proceed to study the outliers.

In [64]:
total_data[['age', 'bmi', 'children', 'charges']].describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

overall, the data seems to be normally distributed except for the target, for which the max value is several times larger than the 75th percentile. The difference doesn't seem to be very significant so let's leave the dataset as it is for now.

#### Feature engineering
The dataset seems clean and complete, so we won't try to add any new columns. Let's split it and prepare it for training:

#### Feature scaling
Let's scale our features now

In [96]:
from sklearn.preprocessing import MinMaxScaler

num_variables = list(total_data.columns)
num_variables.remove('charges')

scaler = MinMaxScaler()
norm_features = scaler.fit_transform(total_data[num_variables])
total_data_norm = pd.DataFrame(norm_features, index = total_data.index, columns = num_variables)
total_data_norm["charges"] = total_data["charges"]
total_data_norm.head()
total_data.to_csv("../data/processed/scaled_data.csv")